.visualizer {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto;
    margin: 1vw;
}

.visualizer canvas {
    background-color: dodgerblue;
    margin: 1vw;
    border-radius: 1vw;
}

.visualizer .controller {
    display: grid;
    width: 90%;
    padding: 1vw;
    grid-template-columns: auto auto auto auto;
    border-radius: 0.5vw;
    grid-gap: 1vw;
    background-color: dodgerblue;
}
